:root {
  --main-color: #7c01ff;
  --main-color-hard: #5300ac;

  --blue: #4d649b;

  --neutral-hard: #404040;
  --neutral-med: #a7a7a7;
  --neutral-xMed: #d7d7d7;
  --neutral-light: #c0c0c0;
  --neutral-xLight: #f0f0f0;
  --neutral-xxLight: #f3f6f8;
  --neutral-xxxLight: #fafafa;
}
